<div class="squid-api-date-selection-widget">
    {{#if dateAvailable}}
        <span>{{startDateVal}} - {{endDateVal}}</span>
    {{else}}
        {{#if facet}}
            <span>select a date range</span>
        {{else}}
            <span>no date available</span>
        {{/if}}
    {{/if}}
</div>
