<div class="squid-api-continuous-widget">
{{#if dateAvailable}}

<span>{{startDateVal}} - {{endDateVal}}</span>

{{else}}
    <!-- just display item name -->
    {{name}}
    <div>-</div>
{{/if}}
</div>
