<div class="squid-api-date-selection-widget">
    {{#if dateAvailable}}
		<span>{{dateDisplay}}</span>
    {{else}}
        {{#if facet}}
                <span>select a date range</span>
            {{else}}
                no date available
        {{/if}}
    {{/if}}
    {{#if notDone}}
        <button data-toggle="tooltip" title="Please click the refresh button calculate the date facet: {{name}}" class="form-control btn btn-default refresh-facet"><i class="fa fa-refresh"></i> click to refresh</button>
    {{/if}}
</div>
