.squid_api_filters_categorical_button {
	margin-bottom: 10px;
}

.squid_api_filters_categorical_selected_filters {

}

#squid_api_filters_categorical_selected_view {
  list-style-type: none;
  padding-left: 0px;
  li {
    background: #fff;
    position: relative;
    min-width: 150px;
    display: inline-block;
    margin: 0px 20px 0px 0px;
    border-radius: 4px;
    border: 1px solid #95a5a6;
    padding: 5px !important;

    .facet-name, .facet-value {
      text-align: left;
    }
    .facet-remove {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
    }
  }
}

.squid_api_filters_categorical_filter_panel {
	#selected {
		text-align: center;
	}
	#filter-selection {
		.btn-group {
			width: 100%;

			button {
				background: #bdc3c7;
				height: 50px;
				font-size: 15px;
				color: #fff;
				width: 100%;

				.caret {
					right: 9px !important;
					top: 24px !important;
				}
			}
		}
	}
	#pagination-container {
		float: left;
		.pagination {
			margin: 10px 0;
  			position: relative;
  			display: inline-block;
  			 ul {
  				display: inline-block;
  				padding: 0;
  				margin: 0;
  				color: #fff;
  				word-spacing: -.5px;
  				background: #d6dbdf;
  				border-radius: 6px;
  			}
  			li {
  				display: inline-block;
  				margin-right: -3px;
  				word-spacing: normal;
  				vertical-align: middle;

  				&.active {
  					a, span {
  						color: #fff;
  						background-color: #1abc9c;
  						border-color: #dfe2e5;
  					}
  				}
  				&.active.previous {
  					a, span {
  						margin: 0;
  					}
  				}
  				&.active.previous, &.active.next {
  					a, span, a:hover, span:hover, a:focus, span:focus {
  						color: #fff;
  						background-color: #1abc9c
  					}
  				}
  				&:first-child {
  					a, span {
  						border-left: none;
  						border-radius: 6px 0 0 6px;
  					}
  				}
  				&:first-child.previous + li {
  					a, span {
  						border-left-width: 0;
  					}
  				}
  				&:last-child {
  					margin-right: 0;

  					a, span, a:hover, span:hover, a:focus, span:focus {
  						border-radius: 0 6px 6px 0;
  					}
  				}
  				&.previous, &.next {
  					a, span {
  						min-width: auto;
  						padding: 12px 17px;
  						font-size: 16px;
  						background-color: transparent;
  						border-right: 2px solid #e4e7ea;
  					}
  				}
  				&.next {
  					a, span {
  						border-right: none;
  					}
  				}
  				&.disabled {
  					a, span {
  						color: #fff;
  						cursor: not-allowed;
  						background-color: rgba(255, 255, 255, .3);
  						border-right-color: #dfe2e5;
  					}
  					a:hover, span:hover, span:focus, a:active, span:active {
  						color: #fff;
  						background-color: rgba(255, 255, 255, .4);
  					}
  				}
  				a, span {
  					display: inline-block;
  					min-width: 41px;
  					min-height: 41px;
  					padding: 12px 10px;
  					font-size: 14px;
  					line-height: 16px;
  					color: #fff;
  					text-align: center;
  					background: transparent;
  					border: none;
  					border-left: 2px solid #e4e7ea;
  					outline: none;
  					-webkit-transition: .25s ease-out;
          				transition: .25s ease-out;

          			&:hover, &:focus, &:active {
          				color: #fff;
  						background-color: #1abc9c;
          			}
  				}
  			}
  			.btn-previous, .btn-next {
  				padding-right: 23px;
  				padding-left: 23px;
  				margin-right: 8px;
  				font-size: 14px;
  				line-height: 1.429;
  			}
  			.btn-next {
  				margin-right: 0;
  				margin-left: 8px;
  			}
  		}
	}
	#filter-display-results {
		max-height: 287px;
		padding-top: 20px;
		overflow: hidden;
		width: 100%;
		ul {
			padding-left: 0px;
			list-style-type: none;
			display: inline-block;
			float: left;
			min-width: 15%;
			padding-right: 10px;
			li {
				position: relative;
				min-height: 20px;
				display: inline-block;
				margin-top: 2px;
				font-size: 14px;
				float: left;
				clear: both;
				line-height: 1.214;
				cursor: pointer;
				background-size: 20px 20px;
				-webkit-transition: .25s;
				transition: .25s;

				i {
					padding-right: 15px;
					font-size: 15px;
				}

				&:hover, &.active {
					i {
						display: inline-block;
					}
				}

				span {
					float: right;
				}
			}
		}
	}
	#search {

	}
}