<div id="sq-selection-panel">
{{#each facets}}
{{#each selection}}
<div class="item" style="padding: 3px; display: inline-block;">
<table style="border:1px solid #DDD; border-collapse: separate; border-spacing: 3px;">
	<tr>
		<td><span class="name">{{name}}</span></td>
		<td><a href="#" id="{{index}}" class="clear-filter"><i class="glyphicon glyphicon-remove"></i></a></td>
	</tr>
	<tr>
		<td><span class="value" style="color:#999;">{{value}}</span></td>
		<td></td>
	</tr>
</table>
</div>
{{/each}}
{{/each}}
</div>