<div class="col-md-2">
<a href="#" class="prevent-default" data-toggle="collapse" data-target="{{data-target}}" data-clavier="true">
	Filters
</a>
</div>
<div class="col-md-9">
<div id="selection"></div>
</div>