<div class="col-lg-2 col-md-3">
<button href="#" class="btn btn-default" data-toggle="collapse" data-target="{{data-target}}" data-clavier="true">
	Filters
	<span class="caret"></span>
</button>
</div>
<div class="col-md-9">
<div id="selection"></div>
</div>