// Button to open filter panel
.squid_api_filters_categorical_button {
  margin-bottom: 10px;
}

// Shared internal / external selectioned view styles
#squid_api_filters_categorical_selected_view, #squid_api_filters-categorical-panel-view {
  list-style-type: none;
  padding-left: 0px;
  li {
    background: #fff;
    position: relative;
    min-width: 150px;
    display: inline-block;
    margin: 0px 20px 0px 0px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px !important;

    .facet-name, .facet-value {
      text-align: left;
    }
    .facet-remove {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
    }
  }
}

// Within filter panel
.squid_api_filters_categorical_filter_panel {
  #squid_api_filters_categorical_selected_view {
    li {
      float: left;
      margin-bottom: 10px;
    }
  }
  .open > .dropdown-menu {
      display: block;
      left: 173px;
      top: 0px;
      min-width: 600px;
      input[type="radio"], input[type="checkbox"] {
        display: none;
      }
      li {
        min-width: 50%;
        display: inline-block;
      }
      label {
        max-width: 230px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
  }
  .no-items {
      display: inline-block;
      margin-bottom: 20px;
      padding: 10px;
      margin-left: 3px;
  }
  #search {
    .input-group {
      input {
            height: 40px;
            border-radius: 0px;
            position: relative;
            left: -2px;
            box-shadow: none;
      }
      span.input-group-addon {
          left: -2px;
          position: relative; 
          background: #ecf0f1;
          color: #777;
      }
    }
  }
  .panel-body {
    padding: 0px;
    background: #f3f3f3;
  }
  .panel-footer {
    background: #fff;
    button.btn-primary {
      background: #3498db;
    }
  }
  .row {
    &:first-of-type {
      padding-top: 20px;
    }
    padding-left: 20px;
    padding-right: 20px;
  }
  h4 {
    text-align: center;
  }
  #filter-selection {
    float: left;
    .btn-group {

      button {
        background: #3498db;
        height: 40px;
        font-size: 14px;
        color: #fff;
        min-width: 175px;

        .caret {
          right: 9px !important;
          top: 19px !important;
        }
      }
    }
  }
  #selected {
        position: relative;
        top: -50px;
      .noData {
        position: relative;
        top: 20px;
        font-size: 14px;
        padding: 0px !important;
        color: #b9b9b9;
        font-family: "Avenir Regular","Montserrat",Arial,sans-serif;
        text-align: center;
      }
  }
  #pagination-container {
    float: left;
    .pagination {
        margin: 8px 0 21px 16px;
        position: relative;
        display: inline-block;
         ul {
          display: inline-block;
          padding: 0;
          margin: 0;
          color: #fff;
          word-spacing: -.5px;
          background: #d6dbdf;
          border-radius: 4px;
        }
        li {
          display: inline-block;
          margin-right: -3px;
          word-spacing: normal;
          vertical-align: middle;

          &.active {
            a, span {
              color: #fff;
              background-color: #3498db;
              border-color: #dfe2e5;
            }
          }
          &.active.previous {
            a, span {
              margin: 0;
            }
          }
          &.active.previous, &.active.next {
            a, span, a:hover, span:hover, a:focus, span:focus {
              color: #fff;
              background-color: #3498db;
            }
          }
          &:first-child {
            a, span {
              border-left: none;
              border-radius: 4px 0 0 4px;
            }
          }
          &:first-child.previous + li {
            a, span {
              border-left-width: 0;
            }
          }
          &:last-child {
            margin-right: 0;

            a, span, a:hover, span:hover, a:focus, span:focus {
              border-radius: 0 4px 4px 0;
            }
          }
          &.previous, &.next {
            a, span {
              min-width: auto;
              font-size: 16px;
              background-color: transparent;
              border-right: 2px solid #e4e7ea;
            }
          }
          &.next {
            a, span {
              border-right: none;
            }
          }
          &.disabled {
            a, span {
              color: #fff;
              cursor: not-allowed;
              background-color: rgba(255, 255, 255, .3);
              border-right-color: #dfe2e5;
            }
            a:hover, span:hover, span:focus, a:active, span:active {
              color: #fff;
              background-color: rgba(255, 255, 255, .4);
            }
          }
          a, span {
              display: inline-block;
              min-width: 30px;
              height: 30px;
              padding: 6px 5px;
              font-size: 14px;
              line-height: 16px;
              color: #fff;
              text-align: center;
              background: transparent;
              border: none;
              border-left: 2px solid #e4e7ea;
              outline: none;
              -webkit-transition: .25s ease-out;
              transition: .25s ease-out;

                &:hover, &:focus, &:active {
                  color: #fff;
                  background-color: #3498db;
                }
          }
        }
        .btn-previous, .btn-next {
          padding-right: 23px;
          padding-left: 23px;
          margin-right: 8px;
          font-size: 14px;
          line-height: 1.429;
        }
        .btn-next {
          margin-right: 0;
          margin-left: 8px;
        }
      }
  }
  #filter-display-results {
    max-height: 287px;
    padding-top: 20px;
    overflow: hidden;
    width: 100%;
    ul {
      padding-left: 0px;
      list-style-type: none;
      display: inline-block;
      width: 100%;
      float: left;
      min-width: 15%;
      padding-right: 10px;
      li {
        position: relative;
        min-height: 20px;
        border-radius: 8px;
        width: 100%;
        display: inline-block;
        font-size: 14px;
        float: left;
        clear: both;
        line-height: 1.214;
        cursor: pointer;
        background-size: 20px 20px;
        -webkit-transition: .25s;
        transition: .25s;

        i {
          font-size: 15px;
          width: 25px;
          position: relative;
          top: 2px;
          left: 7px;
          &:before {
            content: "";
          }
        }

        &:hover {
          background: #fff;
          i {
            display: inline-block;
          }
        }

        &.active {
          i {
            display: inline-block;
            &:before {
              content: "\f046";
            }
          }
        }
      }
    }
  }
}