<div class="squid-api-continous-selection-widget">
    <select class="sq-select form-control squid-api-filters-widgets-period-selector">
        {{#each options}}
            <option value="{{value}}" {{#if selected}}selected{{/if}}{{#if error}} disabled {{/if}}>
                {{label}}
            </option>
        {{/each}}
    </select>
</div>
