<div class="panel panel-default filter-panel">
	<div class="panel-heading">
		<button type="button" class="close" data-toggle="collapse"
			data-target="{{data-target}}" data-clavier="true" aria-hidden="true">
			<i class="glyphicon glyphicon-chevron-up"></i>
		</button>
		<h4 class="panel-title" id="myModalLabel">Filters</h4>
	</div>
	<div class="panel-body">
		<div id="filters"></div>
	</div>
	<div class="panel-footer">
		<button type="button" class="btn btn-primary" data-toggle="collapse"
			data-target="{{data-target}}" data-clavier="true">Apply</button>
		<button type="button" class="btn btn-default" data-toggle="collapse"
			data-target="{{data-target}}" data-clavier="true">Cancel</button>
	</div>
</div>

