<div class="col-sm-3 col-xs-3 col-md-2">
<div id="date-picker"></div>
</div>
<div class="col-md-6">
<span class="date-wrap"><span id="sq-startDate"></span> - <span id="sq-endDate"></span></div>
</div>
